@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!--Can we move these?-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


</head>
<body>



    <div class="row">

        <div class="container">



            <div class="col-6">



                <div class="container">
                    <div class="card-header">
                        newest batches (qty 100): <span id="isMaxedOut" class="red"></span>
                    </div>
                    <ul class="list-group list-unstyled flex-fill pre-scrollable">

                        @{
                            int a = 0;
                            // 100 is amount of batches in progress (max).
                            // TODO: Why doesn't this work but Ln 57 works?
                            //int count = ((List<BatchModel>)ViewBag.NewestBatches).Count();
                            int count = 100;
                            for (int x = 0; x < count; x++)
                            {
                                BatchModel batch = new BatchModel();

                                if (x < a)
                                {
                                    foreach (BatchModel inv in ViewBag.NewestBatches)
                                    {
                                        batch = inv;
                                        a++;
                                    }
                                }
                                <li id="batchItem" class="list-group-item">
                                        <div class="form-check form-switch float-left">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCompleted" onclick="moveFromBatchToInventory()">
                                            <div class="form-text float-left" id="idOf_@x">@batch.ID</div>
                                        </div>

                                    @*Change ID names to have more meaning.*@
                                    
                                    <div id="nameOf_@x">@batch.NameOf</div>


                                    <div>
                                        <span class="badge bg-primary rounded-pill float-right" id="batchTotal_@x">@batch.Total</span>
                                    </div>

                                    <div id="started_@x">@batch.Started</div>

                                </li>



                            }
                        }
                    </ul>





                </div>


                @**Can we make this dynamic from Db?*@
                <select id="nameOfDoughnutBatch" class="form-select" aria-label="Default select example">
                    <option value="Classic Glazed">Classic Glazed</option>
                    <option value="Strawberry PopTart">Strawberry PopTart</option>
                    <option value="Chocolatte">Chocolatte</option>
                    <option value="Capn Crunched">Capn Crunched</option>
                    <option value="Emma noms">Emma noms</option>
                    <option value="Shred Tha Gnar">Shred Tha Gnar</option>
                    <option value="Sugar High">Sugar High</option>
                </select>
                <select id="quantityOfBatch" class="form-select" aria-label="Default select example">
                    <option value="6">6</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="48">48</option>
                </select>



                <div class="row justify-content-sm-center">
                    <button id="createBatch" class="btn float-right" onclick="createBatch()">create batch</button>
                </div>




            </div>



            <div class="col-2">



                <div class="container">
                    <div class="card-header">
                        totals:
                    </div>
                    <table class="table table-sm table-dark table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>

                        <tbody>

                            @{
                                int y = 0;
                                // 8 is amount of dif types of doughnuts in inventory.
                                for (int x = 0; x < 8; x++)
                                {
                                    InventoryOnHandModelByType type = new InventoryOnHandModelByType();

                                    if (x < y)
                                    {
                                        foreach (InventoryOnHandModelByType inv in ViewBag.InvTotalsByType)
                                        {
                                            type = inv;
                                            y++;
                                        }
                                    }
                                    <tr>
                                        <td id="nameOfType_@x">@type.NameOf</td>
                                        <td id="batchTotalType_@x">@type.Total</td>
                                    </tr>
                                }
                            }


                        </tbody>
                    </table>
                </div>



            </div>



            <div class="col-4">



                <div class="container">
                    <div class="card-header">
                        expires next:
                    </div>
                    <table class="table table-sm table-dark table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Batch ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Total</th>
                                <th scope="col">Expires</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int b = 0;
                                // 8 is amount of dif types of doughnuts in inventory.
                                for (int x = 0; x < 8; x++)
                                {
                                    InventoryOnHandModel batch = new InventoryOnHandModel();

                                    if (x < b)
                                    {
                                        foreach (InventoryOnHandModel inv in ViewBag.ExpiresNext)
                                        {
                                            batch = inv;
                                            b++;
                                        }
                                    }
                                    <tr>
                                        <td id="idOfBatch_Exp_@x">@batch.BatchId</td>
                                        <td id="nameOf_Exp_@x">@batch.NameOf</td>
                                        <td id="totalOf_Exp_@x">@batch.Total</td>
                                        <td id="expOf_Exp_@x">@batch.Expiration</td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>



            </div>




        </div>






    </div>








    <div class="row justify-content-sm-center">
        <button id="getBatches" class="btn float-right">get batches</button>
    </div>

    <script type="text/javascript">
         function moveFromBatchToInventory()  {

             var idOfBatch = event.target.parentElement.children[1].innerHTML;

                            $.ajax({
                                type: 'POST',
                                url: '/Home/MoveFromBatchToInventoryOnHand',
                                dataType: 'json',
                                data: "data=" + JSON.stringify({ id: idOfBatch, nameOf: "", total: 0 }),
                                success: function () {
                                    alert("moved from batches to inv")
                                 
                                    updateInfo();
                                    
                                    // Inventory select all.
                                },
                                error: function () { alert("FAIL ON MOVE TO INV") }

                            });



    };

         function createBatch()  {

                            var nameOf = document.getElementById("nameOfDoughnutBatch").value;
                            var total = document.getElementById("quantityOfBatch").value;



                            @*stackoverflow.com/questions/25050240/ajax-post-parameter-is-always-null-in-mvc-app*@
                            $.ajax({
                                type: 'POST',
                                url: '/Home/CreateBatchRecord',
                                dataType: 'json',
                                data: "data=" + JSON.stringify({ id: 0, nameOf: nameOf, total: total }),
                                success: function () {
                                    alert("created batch")
                                    updateInfo();
                                },
                                error: function () { alert("FAIL ON CREATE BATCH") }

                            });



                    };

    

        function updateInfo () {

                    // Get all batches.
                    $.ajax({
                        url: '/Home/GetAllBatchesFromS_Proc',
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            if (data.length > 0) {
                                
                                var parsedData = JSON.parse(data);

                                if (parsedData.length > 50) {

                                    document.getElementById("isMaxedOut").innerHTML = "more than 100 batches in progress!";

                                }

                                for (let i = 0; i < data.length; i++) {
                                    document.getElementById("idOf_" + i).innerHTML = parsedData[i].ID;
                                    document.getElementById("nameOf_" + i).innerHTML = parsedData[i].NameOf;
                                    document.getElementById("batchTotal_" + i).innerHTML = parsedData[i].Total;
                                    document.getElementById("started_" + i).innerHTML = parsedData[i].Started;
                                }
                                alert("got batches")
                            }
                            else {
                                alert("FAILED");
                            }
                        }
                    });

                    // Update expires next.
                    $.ajax({
                        url: '/Home/GetExpiresNext',
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            if (data.length > 0) {

                                var parsedData = JSON.parse(data);

                                for (let i = 0; i < data.length; i++) {
                                    document.getElementById("idOfBatch_Exp_" + i).innerHTML = parsedData[i].BatchId;
                                    document.getElementById("nameOf_Exp_" + i).innerHTML = parsedData[i].NameOf;
                                    document.getElementById("totalOf_Exp_" + i).innerHTML = parsedData[i].Total;
                                    document.getElementById("expOf_Exp_" + i).innerHTML = parsedData[i].Expiration;
                                }

                                alert("got expires next")
                            }
                            else {
                                alert("FAILED");
                            }
                        }
                    });

                    // Get totals by type.
                    $.ajax({
                        url: '/Home/GetInventoryOnHandAllByType',
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            if (data.length > 0) {

                                var parsedData = JSON.parse(data);

                                for (let i = 0; i < data.length; i++) {
                                    document.getElementById("nameOfType_" + i).innerHTML = parsedData[i].NameOf;
                                    document.getElementById("batchTotalType_" + i).innerHTML = parsedData[i].Total;
                                }

                                alert("got totals by type")
                            }
                            else {
                                alert("FAILED");
                            }
                        }
                    });
                };
    </script>
</body>
</html>

